<table style="margin-top: -50px;">
    <tr>
        <td><a href="{{ site.baseurl }}/arcade/account">Account</a></td>
        <td><a href="{{ site.baseurl }}/arcade/reactionTime">Reaction Time</a></td>
        <td><a href="{{ site.baseurl }}/arcade/pong">Pong</a></td>
        <td><a href="{{ site.baseurl }}/arcade/snake">Snake</a></td>
        <td><a href="{{ site.baseurl }}/arcade/blackjack">BlackJack</a></td>
        <td><a href="{{ site.baseurl }}/arcade/leaderboard">Leaderboard</a></td>
        <td>tokens</td>
    </tr>
</table>