<table style="margin-top: -30px;">
    <tr>
        <td><a href="{{ site.baseurl }}/">Log In</a></td>
        <td><a href="{{ site.baseurl }}/overview">Overview</a></td>
        <td><a href="{{ site.baseurl }}/azeem">Azeem</a></td>
        <td><a href="{{ site.baseurl }}/ahad">Ahad</a></td>
        <td><a href="{{ site.baseurl }}/josh">Josh</a></td>
        <td><a href="{{ site.baseurl }}/akshat">Akshat</a></td>
        <td><a href="{{ site.baseurl }}/agile-manifesto">Agile Manifesto</a></td>
        <td><a href="{{ site.baseurl }}/credits">Credits</a></td>
    </tr>
</table>

