---
---

@import "{{ site.theme }}";


::selection {
  background: #f1cc0c;
  color: #232322;
}

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }
