---
---

@import "{{ site.theme }}";

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #242424; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1cc0c; 
}

/* changes highlight color from blue */
::selection {
  background: #f1cc0c;
  color: #232322;
}

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }
